@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,700&family=Roboto:wght@400;700&display=swap");
@import url("buttons.css");
@import url("base.css");

html {
  scroll-behavior: smooth;
}
main {
  margin-top: 50px;
}

#showcase {
  background: linear-gradient(
      to bottom,
      rgba(252, 153, 124, 0.2),
      rgba(250, 81, 30, 0.2)
    ),
    url("../img/bg.jpeg");
  background-position: center;
  background-size: cover;
  height: 70vh;
  width: 100%;
  position: relative;
}
#showcase .content {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 20px;
  background: rgba(46, 76, 109, 0.3);
  padding: 20px;
  width: 60%;
  border-radius: 10px;
}

#showcase h1 {
  position: absolute;
  top: 50%;
  margin: 0;
  color: #fff;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (min-width: 576px) {
  #showcase {
    height: 50vh;
  }
  #showcase .content {
    font-size: 23px;
  }
}
@media (min-width: 768px) {
  #showcase {
    height: 60vh;
  }
  #showcase .content {
    font-size: 25px;
  }
}
@media (min-width: 992px) {
  #showcase {
    height: 70vh;
  }
  #showcase .content {
    font-size: 26px;
  }
}

.main-header {
  background-color: #fc997c;
  padding: 8px 16px;
}

.main-nav {
  display: inline-block;
  width: calc(100% - 101px);
  text-align: right;
  font-family: "Roboto", sans-serif;
}
.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  display: inline-block;
  margin: 0 10px;
}

.main-header {
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
}

.main-header__logo {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 21px;
}

.main-nav__item a {
  text-decoration: none;
  color: #fff;
}

.main-nav__item a:hover,
.main-nav__item:hover::before {
  color: #2e4c6d;
}

.main-nav__item:active::before,
.main-nav__item a:active {
  color: #fff;
}

.main-nav__item::before {
  content: "\2022";
  color: #fff;
}

.main-nav__item--login::before {
  content: none;
}

.features__left {
  background: linear-gradient(
      to bottom,
      rgba(252, 153, 124, 0.2),
      rgba(250, 81, 30, 0.2)
    ),
    url("../img/features.jpeg");
  background-size: cover;
  background-position: top center;
}

.features__right {
  background-color: #edf5f7;
  padding: 40px;
  vertical-align: top;
}

.features__left,
.features__right {
  height: 350px;
}

.features__right h3 {
  font-size: 30px;
}

.section-title {
  text-align: center;
  margin-bottom: 40px;
  color: #3e4555;
  font-size: 30px;
}

#backtotop {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

#backtotop i {
  color: #fc997c;
  font-size: 45px;
  transition: color 0.6s;
}

#backtotop i:hover {
  color: black;
}

.counter {
  background: linear-gradient(to bottom, #fc997c 0%, #fc8b69 100%);
  text-align: center;
  padding: 50px;
}

.counter__item {
  font-size: 30px;
  font-weight: 500;
  color: #fff;
}

.counter h4 {
  margin: 0;
  color: #fff;
}
.card {
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 10px 10px 40px rgba(52, 58, 64, 0.1);
  position: relative;
  top: 0;
  transition: all 0.3s;
}
.card:hover {
  top: -20px;
}
.card-body {
  padding: 10px;
}
.card-container {
  padding: 10px;
}
.card-image {
  max-height: 350px;
}
#footer-links {
  list-style-type: none;
}
.footer-link {
  display: inline-block;
  padding: 7px;
  position: relative;
  top: 25px;
}
.footer-link a {
  text-decoration: none;
  color: #ffff;
}
footer {
  background-color: #2e4c6d;
  height: 18vh;
  padding: 30px;
  margin-top: 30px;
  position: relative;
  bottom: -250px;
}
footer a {
  font-size: 18px;
  text-decoration: none;
  color: #fff;
}
footer ul {
  margin: 0;
  padding: 0;
}
footer ul li {
  list-style-type: none;
  display: inline-block;
  margin-left: 5px;
}
#social-links {
  text-align: right;
}
.fab {
  font-size: 25px;
  padding: 10px;
  border-radius: 50%;
}
.fab:hover {
  opacity: 0.7;
}
.fa-facebook {
  background-color: #3b5998;
  color-interpolation-filters: #fff;
}
.fa-twitter {
  background-color: #55acee;
  color-interpolation-filters: #fff;
}
.fa-instagram {
  background-color: #125688;
  color-interpolation-filters: #fff;
}
#contact {
  text-decoration: none;
  color: #fff;
  font-size: 25px;
}
#counters.row .counter {
  margin: 0;
}
